@using CodeMagic.UI.Blazor.Models
@using CodeMagic.Core.Area
@using System.Drawing

<div class="game-view">
	<div class="visible-area">
		<GameArea Model="Model?.Game"/>
	</div>
</div>

@code {

	[Parameter]
	public GameViewModel? Model
	{
		get => _model;
		set
		{
			UnsubscribeFromModelEvents();
			_model = value;
			SubscribeToModelEvents();
		}
	}

	private void SubscribeToModelEvents()
	{
		if (Model != null)
		{
			Model.OnInitialized += OnInitialized;
		}
	}

	private void UnsubscribeFromModelEvents()
	{
		if (Model != null)
		{
			Model.OnInitialized -= OnInitialized;
		}
	}

	private void OnInitialized(object? sender, EventArgs args)
	{
		StateHasChanged();
	}

	private GameViewModel? _model;
}
