.game-view {
    margin-top: 20px;
    margin: auto;
    width: fit-content;

    .main-panel {
        display: flex;
        width: fit-content;

        .control-panel {
            display: block;
        }
    }
}
