.game-view {
    margin-top: 20px;

    .main-panel {
        display: flex;

        div {
            display: inline-flex;
        }

        .control-panel {
            display: initial;
        }
    }
}
