@using CodeMagic.UI.Blazor.Components
@using CodeMagic.UI.Blazor.Models
@using CodeMagic.UI.Presenters
@using CodeMagic.Game
@using CodeMagic.Game.Images
@using System.Drawing

@inject ILogger<MainMenu> Logger;
@inject IImagesStorageService ImagesStorage;

<div class="main-menu">
	<div class="content">

		<div class="logo">
			<SymbolsImageDisplay Model="LogoImage" BackgroundColor="Color.Black"></SymbolsImageDisplay>
		</div>

		<div>
			@if (ShowContinueButton)
			{
				<div class="menu-button">
					<Button Text="C0nt1nue Game" OnClick="HandleContinueGameClick"></Button>
				</div>
			}
			<div class="menu-button">
				<Button Text="Start Game" OnClick="HandleStartGameClick"></Button>
			</div>
			<div class="menu-button">
				<Button Text="Spell L1brary" OnClick="HandleShowSpellLibraryClick"></Button>
			</div>
			<div class="menu-button">
				<Button Text="Sett1ngs" OnClick="HandleSettingsClick"></Button>
			</div>
		</div>

	</div>
</div>

@code {

	[Parameter]
	public MainMenuModel? Model
	{
		get => _model;
		set
		{
			if (_model != null)
			{
				_model.ContinueOptionChanged -= ModelOnContinueOptionChanged;
			}

			_model = value;

			if (_model != null)
			{
				_model.ContinueOptionChanged += ModelOnContinueOptionChanged;
			}
		}
	}

	private ISymbolsImage LogoImage => ImagesStorage.GetImage("Logo");

	private bool ShowContinueButton => Model?.ShowContinueButton ?? false;

	private void ModelOnContinueOptionChanged(object? sender, EventArgs args)
	{
		StateHasChanged();
	}

	private void HandleStartGameClick(MouseEventArgs args)
	{
		Model?.OnStartGame();
	}

	private void HandleContinueGameClick(MouseEventArgs args)
	{
		Model?.OnContinueGame();
	}

	private void HandleShowSpellLibraryClick(MouseEventArgs args)
	{
		Model?.OnShowSpellLibrary();
	}

	private void HandleSettingsClick(MouseEventArgs args)
	{
		Model?.OnShowSettings();
	}

	private MainMenuModel? _model;
}
