.main-menu {
    user-select: none;

    .content {
        width: fit-content;
        margin: auto;
        margin-top: 20px;

        .menu-button {
            margin: auto;
            width: fit-content;
        }
    }
}
